.reset-container input {
  border: 1px solid #ccc;
  border-radius: 2px;
  outline: none;
}

.reset-container .return-button {
  border-radius: 5px;
  border: 1px solid #ccc;
}

.reset-container .return-button:hover {
  background-color: rgb(208, 233, 233);
}

.reset-container h3 {
  color: var(--main-yellow);
}

.reset-container span.encrypted-email {
  color: var(--main-orange);
}
