.submit-button {
  width: 100%;
  background-color: #625afa;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
}

.submit-button:hover {
  opacity: 0.9;
}

.error-message {
  color: #f00;
}
